body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("/static/img/fondo1.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    background-attachment: fixed;   
}

.music-controll{
    border-radius: 30px;
    border: 1px solid;
}

/*descripcion de la pagina*/
#header{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: hsl(0, 0%, 100%, .6); 
}
.logotipo{
    width: 135px;
    height: 135px;
    padding:0px;
    margin:5px 30px;
}

.descripcion, li{
   margin: 0px;
   text-align:left;
   font-size: 20px;
   list-style: none;
   color:#0077b6;
}
.descripcion p{
    letter-spacing:3px;
    word-spacing:10px;
    padding:0px 0px;
}
.contador{
    width:150px;
    margin-left:200px;
    margin-top:40px;

}

/*slider de imagenes*/
.slider{
    width: 50%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}
.slider li, img{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
}

@keyframes cambio{
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}


/*menu*/
#menu{
    margin: 20px 0px 20px 0px;
    padding: 0;
    width: 15%;
    height: 50%; 
    position: fixed; 
    bottom: 100px;
    right: 10px; 
    left:30px;
}

#btn-mas{
    display: none;
}
.icono{
    display: block;
    background:white;
    margin: 5px;
    margin-left: -15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #00aae4 ;
}

.icon-menu{
    display: block;
    margin: auto;
}

.icono:hover{
    background-color: hsl(195, 100%, 45%, .3);
}

/*streaming*/
#streaming{
    width: 100%;
    height:250px;
    display: flex;
    background-color: #f1faee; 
    /* justify-content: center; */
    /* justify-items: center; */
    align-items: center;
    
}

.music-text{
    font-size: 25px;
    position: relative;
    padding-bottom: 10px;
    align-items: center;
}

.content-text{
    text-align: center;
    margin: -10px;
    padding-top: 10px;
}

#streaming .row{
    display: flex;
	flex-wrap: wrap;
	align-items: stretch;;
    margin:0px 0px 0px 200px;
    padding-top:40px;
    position: absolute;
}
 
#streaming, h2{
    color: #00aae4;
}
#streaming .img{
    height: 80px;
    width: 80px;
}

.auriculares{
    width: 25%;
    height: 100%;
    margin-top: -12px;
    position: relative;
}

/*scrol de contenidos*/
.caja{
    /* text-align: justify; */
    justify-content: center;
    /* width: 100%; */
    font-size: 20px;
    margin:10px 30px 10px 60px;
    border-radius: 15px;
}   
.color1{
    background: hsl(105, 55%, 96%, .4);
    width: 1810px;
}

/*& Media query */
@media(min-width : 576px) and (max-width : 768px)
{
    .color1{
        background: hsl(105, 55%, 96%, .4);
        width: 85%;
    }

    /*!== descripcion de la pagina ===*/
    #header{
        width: 80%;
        height:80%;
        margin-left: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        background-color: hsl(0, 0%, 100%, .6); 
    }
    .logotipo{
        width: 135px;
        height: 135px;
        padding:0px;
        margin:5px 30px;
        margin-left: 10px;
    }
    .contador{
        width:150px;
        margin-left:10px;
        margin-top:40px;
    }
    .caja
    {
        justify-content: center;
        font-size: 20px;
        border-radius: 15px;
        margin-left: -30px;
    } 
    .texto, .informacion{
        color:black;
        text-align: justify;
        width:85%;
        margin-left: 100px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

.color2{
    background:white;
}
.titulo{
    margin: 40px;
    font-size: 30px;
    text-align: center;
    color: black;/* #c8553d*/
    background:  #00aae4;
    border-radius: 15px;
    padding:15px;    
}

.texto, .informacion{
    color:black;
    text-align: justify;
    width:85%;
    margin-left: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.justificacion{
    padding:30px;
}

.informacion img{
    margin-top: -10px;
    height:60px;
    width:60px;
    margin-bottom: 30px;
    /* margin:10px; */
}

.informacion{
    margin-bottom: 20px;
}

.alineacion{
    display: flex;
    /* justify-content: center; */
    /* background-color: aqua; */
}

.align-text{
    margin-top: -25px;
    padding-top: 30px;
    /* margin-right: 60px; */
    justify-content: center;
    /* background-color: aqua; */
}

.img-align{
    margin-right: 20px;
}

/*mision y vision*/
#mision{
    width:auto;
    background-color: hsl(0, 0%, 100%);
    text-align: justify;
    
}

#vision{
    justify-content: center;
    align-items: center;
    margin-left:25px;
    margin-right:25px;
}

.caja_mision{
    width:45%;
    background:hsl(195, 100%, 45%,.3);
    display:inline-block;
    justify-content: center;
    align-items: center;
    margin:20px;
    border-radius:25px;
}

.informacion_mision{
    width:90%;
    margin-left: 22px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*propiedades de la caja de comentarios*/
.comentarios{
    margin:20px 0px;
}

#formulario{
    width: 100%;
    height: 500px;
    background-color:hsl(0, 0%, 100%, .4); 
    
}

#formulario .datos{
    background:hsl(0, 0%, 100%, .5);
    width: 700px;
    height:300px;
    margin:20px 250px 20px 250px;
    border-radius: 15px;
}

.p-data{
    font-family: Arial, Helvetica, sans-serif;
    width:80%;
    font-size:18px;
    margin-left:100px;
    text-align: justify;
}


.form_comentarios textarea{
    width:40%;
    height: 84px;
    max-width:100%;
    min-width: 100%;
    max-height: 380px;
    min-height:200px;
    padding:10px;
    font-family:'roboto', sans-serif;
    line-height:30px;
    border:1px solid black;
    margin-bottom:20px;

}
.form_comentarios .btn{
    background: #0077b6;
    font-family:'roboto', sans-serif;
    border-radius: 0;
    color:white;
    margin-bottom: 20px; 
}
.form_comentarios .btn:hover{
    box-shadow: 0px 0px 9px hsl(240, 100%, 50%);
}
.header, .cnt-header{
    width:100%;
    height:40px;
    background:  hsl(201, 100%, 36%, .7);
}
.lbl-header{
    font-family:cursive;
    font-size: 20px;
}
.ctn-header{
    width:100%;
    height:30px;
    text-align:center;
    position:relative;
    top:5px;
}

/*pie de pagina*/
.pie_de_pagina{
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.grupo-1{
    width: 80%;
    height: 90px;
    display:flex;
    margin-left:150px;
}
.grupo-2{
    font-size: 15px;
    color: black;
    padding: 20px;
}

.box{
    width:160px;
    height:40px; 
    margin: 40px 30px 0px 30px;
}
    
a{
    font-size: 15px;
    color:black;
    text-decoration: none;
}

a:hover{
color:rgba(11, 173, 206, 0.938);
}

figure {
    margin: auto;
    width: 100px;
    margin: 10px 10px 0px 10px;
} 
/*codigo del reproductor*/
#thefile{
    position:fixed;
    top:10px;
    left:10px;
    z-index: 100;
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size:16px;
    width: 50%;/*nombre de la cancion*/
}
#audio{
    position:fixed;
    bottom:10px;
    left:10px;
    width: calc(50% - 20px);    
}


