body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("/static/img/fondo.jpg");
    background-size:1280px  800px;
    background-repeat:no-repeat;
    background-attachment: fixed;
    
}

/*descripcion de la pagina*/
#header{
    width: 100%;
    height:150px;
    display: flex;
    background-color: hsl(30, 51%, 80%, .4); 
}
.logotipo{
    width: 135px;
    height: 135px;
    padding:0px;
    margin:5px 30px;
}

.descripcion, li{
   margin: 0px;
   text-align:left;
   font-size: 20px;
   list-style: none;
}
.descripcion p{
    letter-spacing:3px;
    word-spacing:10px;
    padding:0px 0px; 
    
}

/*slider de imagenes*/
.slider{
    width: 50%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}
.slider li, img{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
}

@keyframes cambio{
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/*menu*/
#menu{
    margin: 0;
    padding: 0;
    width: 15%;
    height: 50%; 
    position: fixed; 
    bottom: 30px;
    right: 10px; 
    left:40px;
}

#btn-mas{
    display: none;
}
.icono{
    display: block;
    background: hsl(40, 91%, 91%);
    color: #582f0e;
    margin: 5px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    text-align: center;
}
.icono a:hover{
    background: #582f0e;
    color: #a68a64;
    border-radius: 50%; 
}
#menu .img{
    width: 40px;
    height: 40px;
}

/*scrol de contenidos*/
.caja{
    background: hsl(40, 91%, 91%, .4);
    text-align: justify;
    width: 80%;
    height: 550px;
    font-size: 20px;
    margin:10px 0px 10px 250px;
    border-radius: 15px;
}   
.titulo{
    margin: 3px;
    font-size: 50px;
    text-align: center;
    color: #c8553d;
}
.texto{
    margin:40px 20px 0px 200px;
    color: white;
}

/*pie de pagina*/
.pie_de_pagina{
    width: 100%;
    background-color: #a68a64;
    font-family: cursive;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grupo-1{
    width: 95%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding:10px 0px 0px 60px;
    text-align: center;	
}
.grupo-2{
    text-align: center;
    font-size: 15px;
    padding: 17px;
    color: #fbfefb;
}

.box{
    margin: auto;
    width:180px;
    height:50px;  
}
    
a{
    font-size: 15px;
    color:white;
    text-decoration: none;
}

a:hover{
    background-color: #582f0e;
}

figure {
    margin: auto;
    width: 100px;
} 



