<!--Deysi Liliana Solorzano Sanchez--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practicas de HTML, desde la escuela de HTML</title>
    <link href="/static/css/practicas.css" rel="stylesheet"/>
</head>

<body>

<!--descripcion de la pagina-->
<br id="inicio"/>
<header id="header">
    <div>
        <img src="/static/img/logo.JPG" class="logotipo">
    </div>
    <div class="desripcion">
        <ul>
            <p><span style="color: #EABE3F; font-size: 40px; font-family: Times New Roman,'Georgia', Times, serif; font-weight: bold;">La Ranchera</span><p>
            <li><span style="color:#fbfefb ;">Genero:</span> Musica mexicana</li>
            <li><span style="color:#fbfefb;">Descripcion:</span>Estacion de radio de San Cristobal de las Casas Chiapas.</li>
        </ul>
    </div>
</header> 

<!--sline de imagen de diferente manera-->
<br/>
    <div class="slider">
        <ul>
            <li><img src="/static/img/slime 1.jpg" alt=""></li>
            <li><img src="/static/img/slime 2.jpg" alt=""></li>
            <li><img src="/static/img/slime 3.jpg" alt=""></li>
            <li><img src="/static/img/slime 4.jpg" alt=""></li>
        </ul>
    </div>



<!--codigo para los streaming de la radio, la misma que se utiliza al servidor-->
<audio autoplay controls="controls"> <source src="https://radios.yanapak.org/radio_trama" type="audio/mpeg" /> </audio> 


<!--menu-->
<div id="menu">
    <input type="checkbox" id="btn-mas"> 

    <div >    
        <a href="#inicio" class="icono">
            <!--en cada imagen se va a direccionar los links para asi poder dirigirnos a los apartados de la pagina web-->
            <img src="/static/img/inicio.png" alt="inicio" class="img">
        </a>

        <a href="#Acerca De" class="icono">
            <!--en cada imagen se va a direccionar los links para asi poder dirigirnos a los apartados de la pagina web-->
            <img src="/static/img/acerca de.png" alt="acerca de" class="img">
        </a>

        <a href="#Politica" class="icono">
            <!--en cada imagen se va a direccionar los links para asi poder dirigirnos a los apartados de la pagina web-->
            <img src="/static/img/politica de privacidad.png" alt="politica de privacidad" class="img">
        </a>

        <a href="#Contactanos" class="icono">
            <!--en cada imagen se va a direccionar los links para asi poder dirigirnos a los apartados de la pagina web-->
            <img src="/static/img/whatsapp-logo-24.png" alt="contactanos" class="img">
        </a>

        <a href="#Descarga" class="icono">
            <!--en cada imagen se va a direccionar los links para asi poder dirigirnos a los apartados de la pagina web-->
            <img src="/static/img/descarga.png" alt="descarga nuestra app" class="img">
        </a>

        <a href="#" class="icono">
            <!--en cada imagen se va a direccionar los links para asi poder dirigirnos a los apartados de la pagina web-->
            <img src="/static/img/comentario.png" alt="deja tu comentario" class="img">
        </a>
</div>
</div>


<!--scrol de los contenidos-->

    <!--primer apartado con id-->
    <div class="caja">
        <h2 class="titulo" id="Acerca De">Acerca de nosotros</h2>
        <p class="texto">Es una Estacion de radio de sancristobal de las casas chiapas, fue creado en el mism lugar
            con la finalidad de brindar a los cuidadanos una pagina y una aplicacion en la que puedan disfrutar de sus musicas favoritas, la idea de este proyect fue brindado por
            el ingeniero sergio alejadro diaz, director de la empresa IBROAD TECNOLOGIA
        </p> 
    </div>

    <!--segundo apartado con id-->
    <div class="caja">
        <h2 class="titulo" id="Politica">Politica de privacidad</h2>
        <p class="texto">dentro de este recuadro va a ir la politica de privacidad de la empresa </p> 
    </div>

    <!--tercer apartado con id-->
    <div class="caja" >
        <h2 class="titulo" id="Contactanos">Contactanos</h2>
        <p class="texto">Envia tu mensaje por wats</p> 
    </div>

    <!--cuarto apartado con id-->
    <div class="caja">
        <h2 class="titulo" id="Descarga">Descarga nuestra APP</h2>
        <p class="texto">dentro de este recuadro va a ir la politica de privacidad de la empresa </p> 
    </div>
    

    
  <!--pie de pagina-->
<footer class="pie_de_pagina">
    <div class="grupo-1">
        <div class="box"> 
            <a href="#"> acerca de </a>
        </div>
        <div class="box">  
            <a href="#"> politica de privacidad </a>
        </div>
        <div class="box"> 
            <a href="#"> contactanos </a>
        </div>
        <div class="box"> 
            <a href="#"> descarga la app </a>
        </div>
    
        <div>
            <figure>
                    <img src="/static/img/logo.JPG" alt="logotipo" >
            </figure>
        </div>
    </div>
        <div class="grupo-2"><hr/>
                <small>&copy; 2022 <b>la ranchera</b>- Todos los Derechos Reservados</small>
    
        </div>
    </footer>
    

</body>
</html>
