<!--Deysi Liliana Solorzano Sanchez--> 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="/static/img/logo.JPG" type="image/x-icon">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>La Ranchera.com</title>
        <link href="/static/css/inicio.css" rel="stylesheet"/>
        <link rel="styleesheet" href="/static/css/bootstrap.min.css" type="text/css">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/inicio.css">
    </head>

    <body>
        <!--descripcion de la pagina-->
        <br id="inicio"/>
        <section id="header">
            <div>
                <img src="/static/img/logo.JPG" class="logotipo">
            </div>
            <div class="desripcion">
                <ul>
                    <p><span style="color: black; font-size: 40px; font-family: Times New Roman,'Georgia', Times, serif; font-weight: bold;">La Ranchera 95.9 FM</span><p>
                    <li><span style="color:black ;">Genero:</span> Musica mexicana</li>
                    <li><span style="color:black;">Descripcion:</span> Estacion de radio de San Cristobal de las Casas Chiapas.</li>
                </ul>
            </div>

         <!-- Contador de visitas -->
    
        <div class="contador">
            <a href="https://websmultimedia.com/contador-de-visitas-gratis" title="Contador De Visitas">
                <img style="border: 0px solid; display: inline;" alt="contador de visitas" src="https://websmultimedia.com/contador-de-visitas.php?id=3718"></a><br>
                <a href='https://websmultimedia.com/contador-de-visitas-gratis'>Contador de visitas</a><br>
            </div>
        </section> 

        <!--sline de imagen de diferente manera-->
        <br/>
            <div class="slider">
                <ul>
                    <li><img src="/static/img/slime 1.jpg" alt=""></li>
                    <li><img src="/static/img/slime 2.jpg" alt=""></li>
                    <li><img src="/static/img/slime 3.jpg" alt=""></li>
                    <li><img src="/static/img/slime 4.jpg" alt=""></li>
                </ul>
            </div>


        <!--menu-->
        <div id="menu">
            <input type="checkbox" id="btn-mas"> 

            <div >    
                
                <a href="#inicio" class="icono">
                    <!--en cada imagen se va a direccionar los links para asi poder dirigirnos a los apartados de la pagina web-->
                    <img class="icon-menu" src="/static/img/inicio.png" alt="inicio" class="img">
                </a>

                <a href="#Acerca De" class="icono">
                    <!--en cada imagen se va a direccionar los links para asi poder dirigirnos a los apartados de la pagina web-->
                    <img class="icon-menu" src="/static/img/acerca de.png" alt="acerca de" class="img">
                </a>

                <a href="#Politica" class="icono">
                    <!--en cada imagen se va a direccionar los links para asi poder dirigirnos a los apartados de la pagina web-->
                    <img class="icon-menu" src="/static/img/politica de privacidad.png" alt="politica de privacidad" class="img">
                </a>

                <a href="#Descarga" class="icono">
                    <!--en cada imagen se va a direccionar los links para asi poder dirigirnos a los apartados de la pagina web-->
                    <img class="icon-menu" src="/static/img/descarga.png" alt="descarga nuestra app" class="img">
                </a>

                <a href="#formulario" class="icono">
                    <!--en cada imagen se va a direccionar los links para asi poder dirigirnos a los apartados de la pagina web-->
                    <img class="icon-menu" src="/static/img/comentario.png" alt="deja tu comentario" class="img">
                </a>
            </div>
        </div>
        
    <!-- Fin Contador de visitas -->
    
        <!--streaming-->
        <section id="streaming">
            <div class="row">
                <div class="col-4 col-12-medium content-text">
                    <header>
                        <span class="music-text">Disfruta de tu musica favorita</span>
                    </header>
                </div>
                <div class="col-4 col-12-medium">
                        <!--codigo para los streaming de la radio, la misma que se utiliza al servidor-->
                        <audio class="music-controll" autoplay controls="controls"> <source src="https://radios.yanapak.org/radio_trama" type="audio/mpeg" /> </audio> 
                      
                </div>
                <div class="col-4 col-12-medium">
                    <img class="auriculares" src="/static/img/auriculares.png" class="img">
                </div>

            </div>
        </section>

             <!--probando otro reproductor
            <div id="content">
                <input type="file" id="thefile" accept="audio/*">
                este condigo es cuando el usuario elija la cancion que quiere
                <audio id="audio" controls ></audio>
            </div>-->

       

        <!--scrol de los contenidos-->
            <!--primer apartado con id-->
            <div class="caja color1 texto">
                <div class="justificacion">
                    <h2 class="titulo" id="Acerca De">ACERCA DE NOSOTROS</h2>
                    <p>Porque la musica regional mexicana es parte del arte que se refleja hoy en la sociedad, hemos creado un espacio en donde puedas disfrutar de tus musicas 
                        favoritas en cualquier momento y en cualquier lugar. LA RANCHERA es una estacion de radio que ofrece a nuestros usuarios musica regional mexicano, que se transmite desde Sancristobal de las Casas 
                        Chiapas. En donde puedes escuchar musica de forma gratuita y sin necesidad de registrarse, ahora tambien puedes disfrutar de sus musicas desde tu dispositivo movil descargando la APP "La Ranchera".
                        Puedes dejar tus comentarios y sugerencias para poder mejorar nuestros servicios.
                    </p> 
                </div>
                
                <div class="informacion">
                    <div class="alineacion">
                        <img class="img-align" src="/static/img/ubicacion.png" >
                        <p class="align-text">Estamos ubicados en Diagonal Ramón Larrainzar No. 155 29240 San Cristóbal de Las Casas, Chiapas, Mexico</p>
                    </div>

                    <div class="alineacion">
                        <img class="img-align" src="/static/img/llamada-telefonica.png" >
                        <p class="align-text">967 678 8626</p>
                    </div>

                    <div class="alineacion">
                        <img class="img-align" src="/static/img/facebook.png">
                        <p class="align-text">
                        <a href="https://www.facebook.com/ibroad.ingenieriaenbroadcasting/">Ibroad Tecnología</a></p>
                    </div>
        
                    <div class="alineacion"> 
                        <img class="img-align" src="/static/img/sitio web.png" >
                        <p class="align-text"><a href="https://www.cylex.mx/reviews/viewcompanywebsite.aspx?firmaName=ibroad+tecnologia&companyId=11960294">ww.ibroad.com</a></p>
                    </div>
               </div> 
            </div>

            <div id="mision">
                <div id="vision">
                    <div class="caja_mision">
                        <h4 class="titulo">Mision</h4>
                        <p class="informacion_mision">Ser el medio de comunicacion que ofrece contenidos de altos estandares de calidad a través de la estacion de radio, 
                            superando constantemente las expectativas de nuestra audiencia. </p>
                    </div>
                    <div class="caja_mision">
                        <h4 class="titulo">Vision</h4>
                        <p class="informacion_mision">Constituirse en la mejor opción de radiocomunicacion, tanto por su cobertura como por la preferencia del auditorio. 
                            asi como ser un sistema reconocido, que promueva la calidad de nuestro servicio radiofónico</p>
                    </div>
                </div>
            </div>

            <!--segundo apartado con id-->
            <div class="caja color2">
                <div class="justificacion">
                    <h2 class="titulo" id="Politica">AVISO DE PRIVACIDAD</h2>
                    <p class="texto">De conformidad con las disposiciones de la Ley  General de Protección de Datos Personales en Posesión de Sujetos Obligados,
                        La estacion de radio "La Ranchera" 95.9 FM pone a su disposición el siguiente aviso de privacidad.
                        <br/><br/>
                        Respecto del tratamiento y protección de los datos de carácter personal de los usuarios que puedan ser recabados por la navegación del 
                        sitio Web www.. 
                       La Ranchera 95.9 FM se hace responsable del uso y protección de sus datos personales, en este sentido y atendiendo las obligaciones legales establecidas en
                        la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados. Se informa a los titulares de los datos, la información que de ellos reciba y 
                        los fines que se le darán a dicha información.<br><br>
                        Además de lo anterior, le informamos que La Ranchera 95.9FM tiene su domicilio en Diagonal Ramón Larrainzar No. 155 29240 San Cristóbal de Las Casas, Chiapas, Mexico<br><br>
                        Los datos personales recabados serán utilizados sólo con la finalidad de brindar un mejor contenido y experiencia de navegación, es decir, con fines estadísticos.
                        Los comentarios y mensajes recibidos pueden utilizarse en la difusión de contenido propio de la estación. <br>

                        Por otro lado, queremos informar que los datos recabados no serán compartidos con ninguna autoridad, empresa, organización o persona distinta a nosotros 
                        y serán utilizados únicamente con los fines señalados.<br>

                        Tiene todo el derecho de conocer qué datos personales tenemos guardados, para qué los utilizamos y las condiciones de uso que se le dan.
                        Asimismo, está en su derecho solicitar la corrección de su información personal que esté desactualizada, inexacta o incompleta. 
                        También puede solicitar que se elimine de nuestros registros o bases de datos cuando considere que no se le da el uso adecuado.<br><br>

                        En caso de solicitar alguno de los puntos anteriores, deberá contactarnos a través de correo electrónico solicitando el acceso, rectificación, 
                        cancelación u oposición. Para ello es necesario que el correo electrónico contenga la siguiente información:
                        </p> 

                        <ul class="texto informacion">
                            <li>Motivo de la solicitud</li>
                            <li>Nombre</li> 
                            <li>Teléfono</li>
                            <li>Correo electrónico</li>
                        </ul>
                        
                        
                </div>
            </div>

            <!--tercer apartado con id-->
            <div class="caja color1">
                <div class="justificacion">
                    <h2 class="titulo" id="Descarga">DESCARGA NUESTRA APP</h2>
                    <p class="texto"> </p> 
                </div>
            </div>
            

            <!--crear una caja de comentario-->
            <section id="formulario" class="wrapper style2 special fade" method="post">
                <header class="header">
                    <div class="ctn-header">
                        <label class="lbl-header"> Deja tu comentario</label>
                    </div>
                </header>
               
                <div class="container">
                    <div class="form_comentarios justify-content-center">
                        <p class="p-data">Sea el primero en escribir una opinio sobre La Ranchera.<br><br>
                            Los comentarios ingresados seran visibles para todas aquellas personas que visiten la pagina. Es por eso que no es buena idea incluir 
                            tu informacion personal.
                             Queremos que se proteja su privacidad y seguridad</p>
                        <div class="col-6">
                            <form action="" class="form_comentarios d-flex justify-content-end flex-wrap">
                                <textarea name="comentario" id="" placeholder="comentar"></textarea>
                                <button class="btn" type="button">publicar</button>
                            </form>
                        </div>
                    </div> 
                </div>
            </section><br>

        <!--pie de pagina-->
        <footer class="pie_de_pagina">
            <div class="grupo-1">
                    <div class="box"> 
                        <a href="#Acerca de"> Acerca de </a>
                    </div>
                    <div class="box">  
                        <a href="#politica de privacidad"> Politica de privacidad </a>
                    </div>
                    <div class="box"> 
                        <a href="#contactanos">Contactanos </a>
                    </div>
                    <div class="box"> 
                        <a href="#descarga la app"> Descarga la app </a>
                    </div>
                
                    <div>
                        <figure>
                                <img src="/static/img/logo.JPG" alt="logotipo" >
                        </figure>
                    </div>
            </div>
                    <div class="grupo-2"><hr/>
                            <small>&copy; 2022 <b>La Ranchera</b>- Todos los Derechos Reservados</small>
                
                    </div>
            </footer>
        
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/reproductor.js"></script>

    </body> 
   

</html>
